@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$text-color: #6a6a6a;
$navbar-bg: #f8f6f6;
$border-color: #c7c7c7;
$card-front-color: #dadada;

$blue: #00b5f5;
$orange: #ff6722;
$green: #75c400;

* {
  outline: none;
  padding: 0; margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
}

.btn {
  padding: 8px 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border: 0;
  background: $blue;
  color: #fff;

  &:hover {
    cursor: pointer;
    background: $orange;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  background: $navbar-bg;
  font-size: 30px;

  .logo {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }

  .game-status {
    min-width: 260px;
    text-align: right;
    font-weight: 700;

    &.game-started {
      color: $green;
    }

    &.game-over {
      color: $orange;
    }
  }
}

.start-form {
  margin-top: 15px;

  .select-level {
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid $blue;
  }
}

.game-container {
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px auto;
  width: 625px;
  height: 625px;
  border: 3px solid $card-front-color;
  padding: 1px 3px;

  .intro {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    font-size: 30px;
    color: $orange;
    text-align: center;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    strong {
      color: $green
    }
  }

  &.size6 {
    padding: 1px 2px;
    .card {
      width: 100px;
      height: 100px;
    }
  }

  &.size8 {
    padding: 1px;
    .card {
      width: 75px;
      height: 75px;
    }
  }
}

.card {
  display: block;
  width: 150px;
  height: 150px;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  opacity: 1;

  &.flipped {
    transform: rotateY(180deg);
  }

  &.hide {
    opacity: 0;
    cursor: default;
  }

  &:hover {
    .front {
      opacity: 0.6;
    }
  }

  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: $card-front-color;
    border-radius: 10px;
    border: 3px solid $border-color;
  }

  .back {
    transform: rotateY(180deg);
  }
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .card {

    &.flipped {
      transform: rotateY(180deg);

      .front {
        backface-visibility: hidden;
        transform: rotateY(0deg);
        opacity: 0;
      }
      .back {
        backface-visibility: visible;
        transform: rotateY(-180deg);
        opacity: 1;
      }
    }

    .front {
      backface-visibility: visible;
      z-index: 2;
      transform: rotateY(0deg);
    }
  }
}